body {
    background-color:floralwhite;
}
p{
    font-weight:lighter;
    font-size:20px;
    text-align:center;
}
il {
    margin:10px;
    display:inline-block;
    font-size:20px;
    padding:20px;
}
.contact {
    position:absolute;
    left:40%;
}
.description {
    background-color:darkorange;
    left: 50px;
    height: 100px;
    border: 3px;
    width: 500px;
}
.character {
    left: 50px;
    border: 3px;
    width: 500px;
    text-align: center;
}