body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:floralwhite;
}
.character {
    margin: 100px;
    text-align:center;
}
p{
    font-weight:lighter;
    font-size:20px;
}
.description {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:500px;
}
il {
    margin:10px;
    display:inline-block;
    font-size:20px;
    padding:20px;
}
.contact {
    position:absolute;
    left:40%;
}
